<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Weight Well - Eat Healthy Live Long.</title>
		
		<!-- Favicon -->
        <link rel="icon" type="text/css" href="{% static 'img/favicon.png' %}"/>
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" type="text/css" href="{%  static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.min.css' %}">  
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

		<style>
			table {
				width: 100%; /* Adjust the width as needed */
				border-collapse: collapse;
			}
			th, td {
				padding: .5px; /* Adjust the padding */
				text-align: center;
				border-bottom: .2px solid #bbb;
				font-size: 9px; /* Adjust the font size */
				color: #ddd;
			}
		</style>
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- calculate BMI -->
		<ul class="pro-features">
			<a class="get-pro" href="#">BMI</a>
			<!-- <li class="title">Pro Version Features</li> -->
			<div class="image-container" >
				<img src="{% static 'img/bmi.jpg' %}" alt="#">
				<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/hand-drawn-health-illustration_36828255.htm#fromView=image_search&page=1&position=0&uuid=6188ebc0-6650-486c-a3ff-e556a7fffeb4">Freepik</a></p>
			</div>
			<li class="big-title">Unlock Optimal Health: Calculate Your BMI and Elevate Your Well-Being Today</li>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="form-group" >
						<input id="height" type="text" placeholder="Height(in CM)" style="width: 120%">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12 ">
					<div class="form-group">
						<input id="weight" type="text" placeholder="Weight(in KG)" style="width: 120%">
					</div>
				</div>
			</div>
			<div class="button">
				<button onclick="calculateBMI()" class="btn">Calculate</button>
			</div>
			<div style="align-self: center;">
				<div class="form-group">
					<input id="result" name="result" type="text" placeholder="Your BMI is: " readonly>
				</div>
			</div>
		</ul>
		<script>
			function calculateBMI() {
				// Get height and weight input values
				var height = document.getElementById("height").value;
				var weight = document.getElementById("weight").value;
	
				// Check if height and weight are valid numbers
				if (isNaN(height) || isNaN(weight)) {
					alert("Please enter valid numbers for height and weight.");
					return;
				}
	
				// Calculate BMI
				var bmi = weight / ((height / 100) ** 2); // Convert height from cm to m
	
				// Display the result
				var resultElement = document.getElementById("result");
        		resultElement.value = "Your BMI is: " + bmi.toFixed(2);
			}
		</script>
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home </a></li>
											<li><a href="{% url 'diet' %}">Diet </a></li>
											<li><a href="{% url 'workout' %}">Workout Plans </a></li>
											<!-- <li><a href="{% url 'contact' %}">Contact Us</a></li> -->
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img/fat_eating.jpg' %}')">
					<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/gluttony-leading-obesity-illustration_6169670.htm#fromView=image_search&page=1&position=2&uuid=9ce3f304-20ef-48ca-bca3-d4cd5e0257fc">Freepik</a></p>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Discover the Power of<span style="color:floralwhite"> Healthy</span> Eating! Fuel Your Body, Nourish Your<span style="color:floralwhite"> Life.</span></h1>
									<p>Begin Your Journey to a Healthier Lifestyle Today: Embrace the Power of Healthy Eating to Transform Your Well-Being and Flourish. </p>
									<div class="button">
										<a href="#appointment-section" class="btn">Get Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img/running.png' %}')">
					<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/couple-practicing-trail-run-training_8270980.htm#fromView=image_search&page=1&position=0&uuid=9f98c0cc-4ad8-4161-9a4b-771d6a5b9091">Freepik</a></p>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Empowering Your <span>Path </span>to Healthier <span>Livin!</span></h1>
									<p>Unlock Your Customized Workout Plan: Crafted by Our Expert Professionals for Your Fitness Journey. </p>
									<div class="button">
										<a href="#appointment-section" class="btn">Get Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img/slider3.png' %}')">
					<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/health-fitness-nutrition-social-media-cover-template_32450267.htm">Freepik</a></p>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Transform Your <span>Health</span> Embrace Healthy Eating to Shed Pounds and <span>Thrive!</span></h1>
									<p>Discover Your Personalized Exercise Blueprint: Handcrafted by Our Fitness Experts to Propel Your Wellness Voyage. </p>
									<div class="button">
										<a href="#appointment-section" class="btn">Get Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>BMI Classification</h2>
							<div class="image-container">
								<img src="{%static 'img/bmi-index.jpg' %}" alt="#">
								<p class="image-attribution"><a href="https://www.freepik.com/free-vector/gradient-bmi-infographic_37575429.htm#fromView=search&page=1&position=17&uuid=aa7af8fd-35ca-40c8-ba5d-62d7ff09ca02">Image by freepik</a></p>
							</div>
							<p>The above classes are used for adults who are at least 20 years old</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-fruits"></i>
							</div>
							<h3>Nourish Your Body</h3>
							<p> Transition to a balanced diet rich in fruits, vegetables, lean proteins, and whole grains. Focus on portion control and mindful eating to fuel your body with essential nutrients.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-gym"></i>
							</div>
							<h3>Stay Active</h3>
							<p>Incorporate regular physical activity into your daily routine. Engage in a mix of cardiovascular exercises, strength training, and flexibility exercises to boost metabolism, improve heart health, and maintain muscle mass.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-heart"></i>
							</div>
							<h3>Prioritize Self-Care</h3>
							<p> Practice stress management techniques such as meditation, yoga, or deep breathing exercises to reduce stress levels. Prioritize sufficient sleep and hydration to support overall well-being and weight management efforts.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
			<!-- <div class="section-title"> -->
				<h1 style="text-align: center;">Fun Fact</h1>
			<!-- </div> -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-apple"></i>
							<div class="content">
								<p>Take</p>
								<span class="counter">2500</span>
								<p>Calories Per Day</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-soft-drinks"></i>
							<div class="content">
								<p>Drink</p>
								<span class="counter">2</span>
								<p>Litters of Water Per Day</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-gym-alt-3"></i>
							<div class="content">
								<p>Exercise</p>
								<span class="counter">30</span>
								<p>Minutes Per Day</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-bed"></i>
							<div class="content">
								<p> Sleep</p>
								<span class="counter">8</span>
								<p>Hours Per Day</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Learn about Overweight and Obesity</h2>
							<img src="{% static 'img/section-img.png' %}" alt="#">
							<p>Overweight and obesity are prevalent health concerns affecting millions of individuals worldwide. They are characterized by an excess accumulation of body fat, leading to adverse health outcomes and increased risk of chronic diseases. Understanding the causes, health risks, and the significance of addressing these conditions through diet and lifestyle changes is paramount for promoting overall well-being.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Health Risks Associated with Overweight and Obesity:</h3>
							<p>Numerous factors contribute to the development of overweight and obesity, including genetic predisposition, unhealthy dietary habits, sedentary lifestyle, environmental influences, and socioeconomic factors. Consuming excessive calories, particularly from high-fat and high-sugar foods, coupled with insufficient physical activity, can lead to weight gain over time. </p>
							<p>Overweight and obesity are associated with a myriad of health risks and complications, including but not limited to: </p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Type 2 diabetes. </li>
										<li><i class="fa fa-caret-right"></i>Hypertension.</li>
										<li><i class="fa fa-caret-right"></i>Cardiovascular disease.</li>
										<li><i class="fa fa-caret-right"></i>Stroke.</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Certain types of cancer. </li>
										<li><i class="fa fa-caret-right"></i>Sleep apnea.</li>
										<li><i class="fa fa-caret-right"></i>Osteoarthritis.</li>
										<li><i class="fa fa-caret-right"></i>Mental health issues.</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/obesity-concept-illustration_3889564.htm#fromView=image_search&page=1&position=0&uuid=d8f08aab-41b0-470d-be5f-dd4b081c36c0">Freepik</a></p>
								
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		
		
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>How To Improve Your Health</h2>
							<img src="{% static 'img/section-img.png' %}" alt="#">
							<p>To effectively address obesity and overweight, implementing lifestyle modifications is key. By adopting healthy habits and making sustainable changes, individuals can improve their overall health and well-being. Six key steps to achieve this include:</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-food-basket"></i>
							<h4><a href="service-details.html">Balanced Diet</a></h4>
							<p> Focus on consuming a balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats. Portion control and mindful eating can help manage calorie intake. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-gym"></i>
							<h4><a href="service-details.html">Regular Physical Activity</a></h4>
							<p> Incorporate regular exercise into your routine, aiming for at least 150 minutes of moderate-intensity aerobic activity per week. This can include brisk walking, cycling, swimming, or participating in fitness classes. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-fast-food"></i>
							<h4><a href="service-details.html">Limit Processed Foods</a></h4>
							<p>Minimize intake of processed and high-calorie foods, sugary beverages, and snacks high in added sugars and unhealthy fats. Opt for whole, nutrient-dense foods whenever possible. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-water-bottle"></i>
							<h4><a href="service-details.html">Stay Hydrated</a></h4>
							<p>Drink plenty of water throughout the day to stay hydrated and support overall health. Limit consumption of sugary drinks and alcoholic beverages, which can contribute to excess calorie intake. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-heartbeat"></i>
							<h4><a href="service-details.html">Manage Stress</a></h4>
							<p>Practice stress management techniques such as meditation, deep breathing exercises, yoga, or spending time in nature. Chronic stress can contribute to overeating and weight gain, so finding healthy ways to cope is essential. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-holding-hands"></i>
							<h4><a href="service-details.html">Seek Support</a></h4>
							<p> Surround yourself with a supportive network of friends, family, or healthcare professionals who can provide encouragement, accountability, and guidance on your weight loss journey. Consider joining a support group or seeking help from a registered dietitian or nutritionist for personalized advice. </p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
				<div class="col-lg-12, section-title">
					<p>By incorporating these steps into your daily life and committing to long-term behavior changes, you can effectively manage obesity and overweight, improve your health, and enhance your quality of life.</p>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		
		<!-- Start Appointment -->
		<section id = "appointment-section" class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book An Appointment</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form id="appointment-form" class="form" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="name" id="appointment-name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" id="appointment-email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" id="appointment-phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<select name="department" id="appointment-department" class="nice-select form-control wide">
											<option value="Nutritionist">Nutritionist</option>
											<option value="Wellness Coach">Wellness Coach</option>
											<option value="Counseling">Counseling</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" id="appointment-message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button id="appointment-submit" type="submit" class="btn">Book An Appointment</button>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-12">
									<p>( We will confirm by an e-mail )</p>
								</div>
							</div>
						</form>
					</div>					
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image image-container">
							<img src="{% static 'img/unhealthy.jpg' %}" alt="#">
							<p class="image-attribution">Image by <a href="https://www.freepik.com/free-vector/obesity-problem-overweight-man-medical-consultation-diagnostics-negative-impact-obesity-humans-health-internal-organs-vector-isolated-concept-metaphor-illustration_11663525.htm#fromView=image_search&page=1&position=0&uuid=dd448cea-8815-4fa2-a6c2-67a2700fb78a">Freepik</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
											<li><a href="{% url 'diet' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Diet</a></li>
											<li><a href="{% url 'workout' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Workout</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<!-- <li><a href="{% url 'contact' %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	 -->
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Subscribe to our newsletter to get all our news in your inbox.</p>
								<form id="newsletter-form" class="newsletter-inner" method="post" action="{% url 'subscribe_newsletter' %}">
									{% csrf_token %}
									<input name="email" id="newsletter-email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button id="newsletter-submit" class="button" type="submit"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>							
						</div>						
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'js/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<!-- ScrollUp JS -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<!-- Niceselect JS -->
		<script src="{% static 'js/niceselect.js' %}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{% static 'js/tilt.jquery.min.js' %}" ></script>
		<!-- Owl Carousel JS -->
        <script src="{% static 'js/owl-carousel.js' %}"></script>
		<!-- counterup JS -->
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<!-- Steller JS -->
		<script src="{% static 'js/steller.js' %}"></script>
		<!-- Wow JS -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Magnific Popup JS -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'js/main.js' %}"></script>
		<!-- mail js  -->
		<script src="{% static 'js/mail.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>